body {
    background-color: #f16059;
}
.page {
    width: 100%;
    max-width: 960px;
    margin: 50px auto;
    text-align: center;
    background-color: #f16059;
    border-radius: 5px;
}
body {
    font: 18px/30px 'Bungee', Helvetica, Arial sans-serif;
    color: #222;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}
header {
    font-size: 35px;
    line-height: 80px;
}
h4 {
    font-size: 30px;
    font-family: 'Bungee', cursive;
}
h4 #clock {
    font-size: 50px;
    display: block;
    margin-top: 30px;
    line-height: 80px;
}
h1, h2, h3, h6 {
    font-family: 'Bungee Shade', cursive;
}
#lolcatImage {
    max-width: 30em;
}
#partyTimeButton {
    background-color: #222;
    width: 400px;
    font-family: 'Bungee', cursive;
    font-size: 40px;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 30px 0;
    margin-top: 30px;
}
footer p {
    text-transform: uppercase;
    font-size: 25px;
}